
.typewriter-text {
    overflow: hidden; /* Hide the overflowing characters */
    border-right: 0.15em solid orange; /* Add a blinking cursor */
    white-space: nowrap; /* Prevent line breaks */
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    animation: typing 1s steps(40, end),
      blink-caret 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }